body{
    background-image: url(pokeballbg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.flex-container{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 10px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    padding: 10px;
}

.grid-item img{
    max-width: 100%;
    max-height: 100%;
}

.grid-item:hover{
    transform: scale(1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(gradient.jpg);
}

.pokemon-name-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pokeball-icon,.pokemon-name,.type,.text{
    display: none;
    position: absolute;
}

.pokemon-name{
    bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
    color:white;
    padding: 5px;
    border-radius: 5px;
}

.text{
    align-items: center;
    font-size: 2rem;
    color:white;
}

.pokeball-icon{
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}

.type{
    display: none;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    color: white;
}

@media (max-width: 1100px) {
    .grid {
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-item {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
        height: auto;
    }

    .pokemon-name, .pokeball-icon {
        display: block;
        position: relative;
    }

    .grid-item img {
        position: relative;
        width: 60px;
        height: 60px;
    }

    .pokemon-name {
        margin: 0;
        padding: 0;
        text-align: center;
        width: auto;
    }

    .pokeball-icon {
        left: 10px;
        width: 50px;
        height: 50px;
    }

}


@media (max-width: 400px) {
    .grid {
        grid-template-columns: repeat(1,1fr);
    }

    .grid-item{
        align-items: center;
        display: block;
        width: auto;
        height: 200px;
    }

    .grid-item img{
        width: auto;
        height: 100px;
    }

    .pokemon-name{
        display: block;
      }

    .pokeball-icon{
        display: none;
    }

    .type{
        right: 20px;
        bottom: 20px;
        align-items: center;
        display: inline-block;
    }

    .text{
        bottom: 20px;
        align-items: center;
        display: block;
    }
}



.mew{
    background-color: #f4c4b3;
}

.snorlax{
    background-color: #009be8;
}

.eevee{
    background-color: #d3964c;
}

.dratini{
    background-color: #42b1e8;
}

.bulbasaur{
    background-color: #80edac;
}

.squirtle{
    background-color: #7fe5d8;
}

.charmander{
    background-color: #f77819;
}

.pikachu{
    background-color: #fff800;
}

.venonat{
    background-color: #7c34c1;
}

.mankey{
    background-color: #f4d3a2;
}

.meowth{
    background-color: #eae4c5;
}

.psyduck{
    background-color: #fff800;
}






.bug {
    background-color: #94BC4A;
}

.dark {
    background-color: #736C75;
}

.dragon {
    background-color: #6A7BAF;
}

.electric {
    background-color: #E5C531;
}

.fairy {
    background-color: #E397D1;
}

.fighting {
    background-color: #CB5F48;
}

.fire {
    background-color: #EA7A3C;
}

.flying {
    background-color: #7DA6DE;
}

.ghost {
    background-color: #846AB6;
}

.grass {
    background-color: #71C558;
}

.ground {
    background-color: #CC9F4F;
}

.ice {
    background-color: #70CBD4;
}

.normal {
    background-color: #AAB09F;
}

.poison {
    background-color: #B468B7;
}

.psychic {
    background-color: #E5709B;
}

.rock {
    background-color: #B2A061;
}

.steel {
    background-color: #89A1B0;
}

.water {
    background-color: #539AE2;
}

.stellar {
    background-color: #44628D;
}
