*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url('BG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: white;
}

.nav {
    background-color: (0,0,0,0.5);
}

.nav .container {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
}

.menu-list li {
    list-style: none;
    margin-left: 25px;
}

.menu-list li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.menu-list li a:hover {
    color: red;
}

.back {
    text-align: center;
    color: #fff;
    padding: 60px 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.about-section{
    background-color: rgba(0, 0, 0, 0.7);
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin: 0 auto;
}

.about-img{
    margin-left: 20px;
    width: 20%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    float: left;
    margin-right: 20px;
}

.about-text {
    max-width: 75%;
}

.about-section h2{
    font-size: 3rem;
}

.home-section {
    text-align: center; 
    color: #fff;
    padding: 60px 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.home-section h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.home-section p {
    font-size: 1.5rem;
}


.portfolio-section {
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 60px 20px;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.portfolio-box {
    flex: 1 1 calc(33% - 20px); 
    max-width: calc(33% - 20px);
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.portfolio-box img {
    width: 100%;
    border-radius: 8px;
}

.portfolio-item a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

.portfolio-item a:hover {
    color: #f00; 
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 4px; 
    padding: 5px; 
}

.contact-section {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 60px 20px;
    text-align: center;
}
