body{
        background-image: url('Background.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        text-align: center;
}

.card{
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px black;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 8rem;
    vertical-align: top;
}

.contents{
    display:inline-block;
    border-radius: 10px;
    background-color: black;
    padding: 8px;
    height: auto;
    box-shadow: 10px 10px 10px black;
}

.pokemon{
    background-image: url('Pokeball1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.name{
    font-size: 37px;
    font-weight: bold;
}

.type{
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}

.desc{
    color: white;
    font-size: 18px;
    margin: 10px 0px;
}

.buttons{
    display:flex;
    justify-content: space-around;
    margin-top: 20px;
}

.buttons button{
    padding:8px 12px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
}

.add{
    background-color: #4682b4;
    color:white;
}

.release{
    background-color: #dc143c;
    color: white;
}







.detailsbug{
    background-color:#94BC4A;
}

.detailsdark{
    background-color:#736C75;
}

.detailsdragon{
    background-color:#6A7BAF;
}

.detailselectric{
    background-color:#E5C531;
}

.detailsfairy{
    background-color:#E397D1;
}

.detailsfighting{
    background-color:#CB5F48;
}

.detailsfire{
    background-color:#EA7A3C;
}

.detailsflying{
    background-color:#7DA6DE;
}

.detailsghost{
    background-color:#846AB6;
}

.detailsgrass{
    background-color:#71C558;
}

.detailsground{
    background-color:#CC9F4F;
}

.detailsice{
    background-color:#70CBD4;
}

.detailsnormal{
    background-color:#AAB09F;
}

.detailspoison{
    background-color:#B468B7;
}

.detailspsychic{
    background-color:#E5709B;
}

.detailsrock{
    background-color:#B2A061;
}

.detailssteel{
    background-color:#89A1B0;
}

.detailswater{
    background-color:#539AE2;
}

.detailsstellar{
    background-color:#44628D;
}




.typebug{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#94BC4A;
}

.typedark{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#736C75;
}

.typedragon{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#6A7BAF;
}

.typeelectric{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#E5C531;
}

.typefairy{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#E397D1;
}

.typefighting{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#CB5F48;
}

.typefire{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#EA7A3C;
}

.typeflying{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#7DA6DE;
}

.typeghost{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#846AB6;
}

.typegrass{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#71C558;
}

.typeground{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#CC9F4F;
}

.typeice{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#70CBD4;
}

.typenormal{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#AAB09F;
}

.typepoison{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#B468B7;
}

.typepsychic{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#E5709B;
}

.typerock{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#B2A061;
}

.typesteel{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#89A1B0;
}

.typewater{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#539AE2;
}

.typestellar{
    display: inline-block;
    padding:10px 20px;
    border: black;
    border-style: solid;
    border-radius: 12px;
    background-color:#44628D;
}
