@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&family=Stardos+Stencil:wght@400;700&display=swap');

body {
  background-image: url('https://cdn.prod.website-files.com/5a9ee6416e90d20001b20038/64d14fedea4cd16a4eab0081_%20-%205.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 100px;
  text-align: center;
  color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Stardos Stencil', sans-serif;
}

.content {
  background: white;
  padding: 50px;
  border-radius: 60px;
  width: 60%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.logo {
  height: 10%;
  width: 20%;
  position: absolute;
  top: 8px;
  right: 16px;
}

.heading {
  font-size: 4rem;
  margin: 0 10%;
}

.subheading {
  font-size: 2rem;
  margin: 10px 10%;
}

.text {
  font-size: 20px;
  margin: 10px 10%;
}

.green {
  font-weight: bold;
  color: green;
}

.footer {
  font-size: 1em;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.innovation {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 25px;
}

.hashtag {
  font-size: 1em;
}
